.profile-container{
    min-height: 80vh;
    background-color: #fff;
    border-radius: 4px;
  }
  .profile-container p{
  font-size: 20px;
  }
  .cover-image{
    width: 100%;
    height: 200px;
    border: 1px solid #333;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  .c-image{
    height: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
  }
  .c-image img{
    object-fit: contain;
  }
  .editImage{
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .imgoptions{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
  justify-content: space-evenly;
  }
  /* .imgoptions button{
    font-size: 16px;
    padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4396f5;
  color: #fff;
  cursor: pointer;
  } */
  .imgoptions .new{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      /* border: 1px solid black; */
      border-radius: 4px;
      text-align: center;
      background-color: #1c74f7;
      color: #fff;
      padding: 4px;
    }
    .new label{
    font-size: 16px;
  }
  .new button{
    background-color: #2df113;
    margin-top: 4px;
    padding: 4px;
    width: 50%;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
  }
  .imgoptions .err{
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    background-color: red;
    color: #fff;
    font-size: 18px;
    padding: 4px;
    border-radius: 4px;
  }
  .remove{
    background-color: #eb4b4b;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    border: none;
  }
  .cancelupload{
    position: absolute;
    top: 0;
  right: 0;
  background-color: #fff;
  padding: 6px;
  margin: 8px;
  color: red;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  }
  .skeleton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .skeleton svg{
    font-size: 50px;
   
  }
  .skeleton form{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .skeleton form button{
  padding: 6px;
  background-color: #1c74f7;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  }
  .skeleton form button svg{
    font-size: 16px;
  }
  .custom-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .editimageicon{
    position: absolute;
    margin: 10px;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    color: #414141;
    background-color: #ffffffd2;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 8px;
  }
  .editicon{
    font-size: 16px;
    cursor: pointer;
  }
  .cover-image img{
    width: 100%;
    height: 100%;
  }
  .profile-details{
    margin-top:20px;
  }
  .prof-detail{
    padding: 10px;
    /* border: 1px solid red; */
  }
  .prof-detail h3{
    text-align: left ;
    display: flex;
    /* border: 1px solid red; */
    gap: 14px;
    align-items: center;
  }
  .prof-detail small{
    color: #074aad
  }
  .edit-profile{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  .edit-profile textarea{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 4px;
    resize: none;
    height: 100px;
    width: 100%;
    font-size: 16px;
  }
  .edit-profile textarea:focus{
    outline: none;
    background-color: #fff;
    border: 1px solid #074aad;
  }
  .edit-input{
    width: 100%;
    font-size: 16px;
    border: 1px solid #33333369;
    background-color: #f5f5f5;
    padding: 4px;
    border-radius: 4px;
  }
  .edit-input:focus{
    color: #333333;
    outline: none;
    border: 1px solid #1c74f7;
    background-color: #fff;
  }
  .editbtns{
    display: flex;
    /* border: 1px solid blue; */
  }
  .cancel{
    background-color: #eb4b4b;
  }
  .serviceitem{
    border: 1px solid #333;
  }
  .userservices{
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }
  .userservices span{
    background-color: crimson;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    cursor:pointer;
  }
  .service{
    display: flex;
    justify-content: space-between;
  }
  .service svg{
    color: crimson ;
  }
  /* .prof-contacts{
    border: 1px solid black;
  } */
  .prof-contacts .socialLinks{
    font-weight: 600;
    margin: auto;
    gap: 40px;
    margin-top: 10px;
  }
  .prof-contacts .socialLinks a{
    text-decoration: none;
    color: #333;
    font-size: 40px;
  }
  .prof-contact{
    margin-top: 10px;
  }
  .prof-contact p{
    font-weight: 600;
  }
  .prof-contact span{
    font-weight: normal;
  }
  .socialLink{
    border: 1px solid #333;
   padding: 6px;
   border-radius: 8px;
   margin-bottom: 10px;
  }


  /* portfolio */
  .profportfolio{
    width: 96%;
    margin: auto;
  }
  .profportfolio small{
    color: #074aad;
  }
  .portfolioImages{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 

  .removeportimg{
    margin-left: 4px;
    color: #fff;
    padding: 2px 4px;
    background-color: #eb4b4b;
    border: none;
    border-radius: 4px;
  }
  .addimagediv{
    border: 1px solid #333;
    border-radius: 8px;
    height: 150px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .addimagediv input{
    width: 100%;
  }
  .addimagediv button{
    padding: 4px 8px;
    margin-bottom: 4px;
    background-color: #1c74f7;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .addimagediv label{
    font-size:60px ;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }